{
  "training_poses": [
    {
      "map_name": "loop_empty",
      "tile": [
        3,
        5
      ],
      "position": [
        0.5102808120106852,
        0.0,
        0.4257585486353568
      ],
      "angle": 0.7038412294071169
    }
  ],
  "evaluation_poses": [
    {
      "map_name": "loop_empty",
      "tile": [
        3,
        5
      ],
      "position": [
        0.5102808120106852,
        0.0,
        0.4257585486353568
      ],
      "angle": 0.7038412294071169
    }
  ]
}
